<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
  <script type="text/javascript" src="/javascripts/auth.js"></script>
  <script type="text/javascript" src="/javascripts/search.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
</head>
<body>
	<div class="header">
	  <div class="navbar navbar-default" role="navigation">
	    <div class="container">
	      <div class="navbar-header">
	        <a class="navbar-brand" href="#/">Happy Recycled Birthday!</a>
	      </div>
	        <div class="fb-login-button" id="loginBtn" data-max-rows="1" data-size="medium"></div>
			<div id="accountInfo" style="float: right;"></div>
	    </div>
	  </div>
	</div>

	<div class="container">
	  <div class="jumbotron bday-img">
	    <h1>Hu Hu Hu Happy Birthday!</h1>
	    <img src="http://media.giphy.com/media/rcheUKW0L4DNS/giphy.gif">
	    <p class="lead">
	      Choose a friend below to send them a birthday video!
	    </p>
	  </div>

	  <div class="row marketing">
	    <div><p>Enter your friends name! </p> <input ng-model="name"/> <button ng-click="getVideo()">Get Video!</button></div>
	  </div>
	</div>

	<div class="footer">
	  <div class="container">
    <p id="query" value="brian">brian</p>
	    <p><span class="glyphicon glyphicon-heart"></span> Created with lots of gooey love.</p>
	  </div>
	</div>
</body>
</html>

